body {

}

img {
	max-width: 100%;
	height: auto;
}

.container {
	display: -webkit-flex;
    -webkit-flex-wrap: wrap;	
	flex-wrap: wrap;
	display: flex;
}

.cat {
	width: calc((100% - 10px)/2);
	margin: 2px;
	display: none;
}

.listBox {
	float: left;
	margin: calc(((100% - 10px)/2) + 4px);
	width: 40px;
	height: 100px;
	background-color: orange;
	display: inline-block;
}