body {

}

img {
	max-width: 100%;
	height: auto;
}

.container {
	display: -webkit-flex;
    -webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	display: flex;
}

.cat {
	width: calc((100% - 10px)/2);
	margin: 2px;
	display: none;
}

.catImg {
	position: relative;
	float: left;
}

.number {
	position: absolute;
	top: 100px;
	width: 100%;
	text-align: center;
	font-size: 5em;
	font-family: 'Arial', sans-serif;
	font-weight: bold;
}

.listBox {
	background-color: orange;
	display: inline-block;
}